.navbar{
    background-color: #c3f88382;
}

.container{
  background-color: #c3f88382;
  display: contents;
  max-width: 100%;
}

footer{
  padding: 1%;
  background-color: #c3f88382;
  text-align: center;

}

.img-brand{
  width: 100px;
  align-items: flex-end;
  background: transparent;
}


