.clearance {
    border: 2px solid green;
}

th {
    background-color: #436a33;
}

td {
    vertical-align: middle;
    text-align: center;
    background-color: #838f81;
}

h1 {
    background-color: #85d673;
}
